obj/Debug/netcoreapp2.2/restapi.assets.cache
obj/Debug/netcoreapp2.2/restapi.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/restapi.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/restapi.pdb
obj/Debug/netcoreapp2.2/restapi.dll
bin/Debug/netcoreapp2.2/restapi.pdb
bin/Debug/netcoreapp2.2/restapi.dll
